    .headerSolid{
        background-color: #34495e;
        height: 4rem;
    }
    .headerPrincipal{
        display: flex;

        .enLinea{
            display: inline-block;  

            .tituloPrincipal{
                font-size: map-get($font-sizes, xxl);
            
            }

            .subTituloPrincipal{
                font: size 1rem;
                text-align: center;
            }      
        }

        .prueba{
            height: 100%;
            font-size: map-get($font-sizes, s);

            .colorUl{
                justify-content: space-around;
                align-items: center;

                .pintar {
                
                a:hover{
                    background-color: rgba(207, 207, 207, 0.295);
                    opacity: 0.5;
                    border-radius: 10px;
                    transition: background-color 2s;
                }
                }
            }
        }


    }


@media screen and (max-width: 1800px){

    .headerPrincipal
        .enLinea{
            display: none
    }
    .tamanioLogo{
        width: 100px;
        height: 100px;
    }  
}
